@{
    ViewBag.Title = "Chat";
}
<h2>te</h2>
<div class="row">
    <div class="col-md-8" id="Chat">
    </div>
    <div class="col-md-4" id="Users">
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/React/ChatRoom.jsx")
    @Scripts.Render("~/Scripts/React/ChatMessage.jsx")
    @Scripts.Render("~/Scripts/React/ChatMessageInput.jsx")
    @Scripts.Render("~/Scripts/React/Users.jsx")
    @Scripts.Render("~/Scripts/React/Index.jsx")
}
